.emailModal {
	display: 'flex';
	flex-direction: 'column';
	margin: '5px';
	max-width: 350px;

	h1 {
		font-size: 2rem;
		line-height: 1;
		color: #66beff;
		font-weight: 800;
		font-family: 'Montserrat', sans-serif;
		padding-left: 2rem;
	}

	.checkbox-font {
		font-size: 0.9rem;
		color: gray;
	}

	.section-end {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}
