/* General overrides */
// That's how to define placeholder
// @define-placeholder outline-none {
// 	outline: 0;
// }

button {
	outline: 0;

	&:focus,
	&:active,
	&:hover {
		outline: 0;
	}
}

.main {
	@apply;
}

/* Containers */
.container {
	@apply .w-full .mx-auto .px-4;
}

@screen sm {
	.container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@screen md {
	.container {
	}
}

@screen xl {
	.container {
		max-width: 1366px;
		padding-left: 0;
		padding-right: 0;
	}
}

.ms-shadow {
	box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.03);
}

.fullwidth {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.gettingStartedStep {
	@apply .flex .flex-row .items-center;
}

.gettinStartedStepText {
	@apply .flex .flex-shrink;
}

.circleIcon {
	@apply .rounded-full .h-12 .m-4 .w-12 .flex .items-center .justify-center .bg-ms-blue .text-white .font-semibold;
}
