.button {
	transition: all 0.3s;
	border-radius: 2px 20px 2px 0;
	@apply .font-medium .text-white .font-sans .py-3 .px-4;

	&:hover,
	&:active,
	&:focus {
		@apply;
	}
}

.button--main {
	@apply .bg-ms-orange;
}

.button--rounded {
	@apply .rounded-full;
}

.button--green {
	@apply .bg-ms-green;
}

.button--secondary {
	@apply .bg-ms-blue;
}

.button--neutral {
	@apply .text-black .bg-gray-light;
}

.button--danger {
	@apply .bg-ms-red;
}

.button--rounded {
	@apply .h-8 .py-0 .px-5 .rounded-3xl;
}
