/* General overrides */
// That's how to define placeholder
// @define-placeholder outline-none {
// 	outline: 0;
// }

button {
	outline: 0;

	&:focus,
	&:active,
	&:hover {
		outline: 0;
	}
}

.main {
	@apply .pb-12;
}

/* Containers */
.container {
	@apply .w-full .mx-auto .px-4;
}

@screen sm {
	.container {
		max-width: 576px;
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@screen md {
	.container {
		max-width: 768px;
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@screen lg {
	.container {
		max-width: 992px;
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@screen xl {
	.container {
		max-width: 1200px;
		padding-left: 5rem;
		padding-right: 5rem;
	}
}
