.paragraph {
	transition: all 0.3s;
	@apply .bg-white .flex .mb-6;

	.paragraph__box {
		box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.03);
		@apply .flex-grow .flex .rounded;

		.paragraph__chevron {
			@apply .text-lg .pt-2 .w-10 .text-ms-gray;
		}
	}

	.paragraph__text {
		transition: all 0.3s;
		@apply .w-full .font-sans .text-sm .text-left .px-3 .rounded .block .items-center .flex .border-r .border-ms-gray-light .my-3;
	}

	&:hover,
	&:active,
	&:focus {
		@apply .bg-gray-light .shadow-2xl;
	}

	.paragraph__delete {
		@apply .text-xl .text-ms-red .ml-4;
	}

	.paragraph__draghandle {
		@apply .text-gray .text-xl .mr-4;
	}
}

.paragraph--reorder {
	.paragraph__box {
		@apply .pointer-events-none;
	}
}

.paragraph--active {
	@apply .text-green .border-green-light .bg-green-lighter;

	&:hover,
	&:active,
	&:focus {
		.paragraph__text {
			@apply .bg-green-lighter;
		}
	}
}
