.paragraph {
	transition: all 0.3s;
	@apply .cursor-pointer .flex .mb-6 .items-center;

	.paragraph__wrapper {
		@apply .w-full;
	}

	.paragraph__box {
		@apply .ms-shadow .bg-white .w-full .flex .rounded;

		.paragraph__chevron {
			@apply .flex .items-start .justify-center .text-lg .my-2 .w-10 .text-ms-gray  .border-l .border-ms-gray-light;
		}

		&:hover,
		&:active,
		&:focus {
			@apply .bg-gray-light .shadow-2xl;
		}
	}

	.paragraph__text {
		transition: all 0.3s;
		@apply .w-full .font-sans .text-sm .text-left .px-3 .rounded .items-center .my-3;

		.paragraph__truncated {
			@apply .ml-2 .inline;
		}
	}

	.paragraph__delete {
		height: 2.65rem;
		@apply .flex .items-center .justify-center .w-12 .bg-ms-red .ml-4 .rounded-full .mr-2;

		img {
			@apply;
		}
	}

	.paragraph__draghandle {
		@apply .text-gray .text-xl .mr-4;
	}
}

.paragraph--selected {
	.paragraph__box {
		@apply .bg-ms-blue .text-white .shadow-inner;

		&:hover,
		&:active,
		&:focus {
			@apply .bg-ms-blue .shadow-2xl;
		}
	}

	.paragraph__chevron {
		@apply .border-white;

		i {
			@apply .text-white;
		}
	}
}
