.paragraph {
	transition: all 0.3s;
	@apply .flex .mb-6;

	.paragraph__box {
		@apply .flex-grow;
	}

	.paragraph__text {
		transition: all 0.3s;
		min-height: 4rem;
		@apply .font-serif .text-sm .text-left .font-bold .px-3 .shadow-xl .border .border-gray-light .rounded .py-2 .block .items-center .flex;
	}

	&:hover,
	&:active,
	&:focus {
		@apply .bg-gray-light;
		@apply .shadow-2xl;
	}

	.paragraph__delete {
		@apply .text-xl .text-ms-red .ml-4;
	}

	.paragraph__draghandle {
		@apply .text-gray .text-xl .mr-4;
	}
}

.paragraph--reorder {
	.paragraph__box {
		@apply .pointer-events-none;
	}
}

.paragraph--active {
	@apply .text-green .border-green-light .bg-green-lighter;
}
