version: 2.1

orbs:
  aws-cli: circleci/aws-cli@1.4.0
  node: circleci/node@4.2.0

executors:
  node:
    docker:
      - image: cimg/node:15.10.0

jobs:
  build_and_test:
    executor: node
    steps:
      - run:
          name: 'Show node and NPM versions'
          command: |
            node -v |
            npm -v
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run: export NPM_TOKEN=${NPM_TOKEN}
      - run: npm ci
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules

      - run:
          name: 'Building React App'
          command: |
            CI=false && npm run build
      - run:
          name: 'Run tests'
          command: |
            echo TESTS NOT IMPLEMENTED YET


  deploy:
    parameters:
      deploy_env:
        type: string
    executor: node
    steps:
      - run:
          name: Setup Environment Variables
          command: |
            echo 'export REACT_APP_CHAT_APP_ID="<< parameters.deploy_env >>"' >> $BASH_ENV
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - aws-cli/setup
      - run:
          name: 'Install aws-amplify CLI'
          command: |
            sudo npm install -g @aws-amplify/cli
      - run:
          name: 'Show AWS CLI and Amplify Versions'
          command: |
            aws --version
            amplify --version

      - run: export NPM_TOKEN=${NPM_TOKEN}
      - run: npm ci
      - run: CI=false && npm run build
      - run:
          name: 'Initiate << parameters.deploy_env >> Environment'
          command: |
            amplify init --amplify "{\"envName\":\"<< parameters.deploy_env >>\"}" --providers "{\"awscloudformation\":{\"useProfile\":true,\"profileName\":\"default\"}}" --yes
      - run:
          name: 'Checkout Amplify << parameters.deploy_env >> Environment' |
            amplify env checkout << parameters.deploy_env >>
      - run:
          name: 'Deploy to << parameters.deploy_env >>'
          command: |
            amplify publish  -- yes

workflows:
  Deploy:
    jobs:
      - build_and_test
      - deploy:
          context:
            - aws-cli
            - github
          name: DeployDev
          deploy_env: dev
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - PROJ-1404-devops-circleci-integration-final
      - request_production_deploy:
          type: approval
          filters:
            branches:
              only:
                - master
      - deploy:
          context:
            - aws-cli
            - github
          name: DeployProduction
          deploy_env: prod
          requires:
            - request_production_deploy
          filters:
            branches:
              only:
                - master
