.get-started {
	@apply flex flex-col justify-center;

	@screen md {
		@apply text-left;
	}

	.get-started__first-button {
		text-align: center;

		@screen md {
			text-align: left;
		}
	}

	.get-started__caption {
		margin-top: 1rem;
		margin-bottom: 2.5rem;

		@screen md {
			margin-top: 6rem;
			margin-bottom: 0rem;
		}
	}

	.get-started__reviews-widget {
		margin-top: 3rem;
		margin-bottom: 4rem;

		@screen md {
			margin-top: 0rem;
			margin-bottom: 2rem;
		}
	}

	.get-started__heading-box {
		margin-left: 0rem;

		@screen md {
			margin-left: 6rem;
			width: 30rem;
		}
	}

	.get-started__get-started-button {
		border-radius: 25px;
		font-size: 16px;
		font-weight: bold;
	}

	.get-started__find-out-more {
		margin-bottom: 10rem;
		margin-top: 2rem;

		@screen md {
			margin-bottom: 0rem;
			margin-top: 0rem;
		}
	}

	.get-started__image {
		@apply invisible;
		margin: 0;
		width: 0;
		@screen md {
			@apply visible;
			margin: 0 2rem 0 0.8rem;
			padding-top: 50px;
			width: 700px;
		}
	}

	.get-started__grid-image {
		width: 360px;
		margin: 0 2rem 0 0.8rem;
		@screen md {
			width: 490px;
		}
	}

	.get-started__grid-image-right {
		margin-left: 0rem;
		@screen md {
			margin-left: 2rem;
		}
	}

	.get-started__grid-image-right-narrow {
		margin-left: 0rem;
		@screen md {
			margin-left: 3rem;
		}
	}

	.get-started__grid-row {
		margin-bottom: 0rem;
		@screen md {
			margin-bottom: 8rem;
		}
	}

	.get-start__grid-item {
		margin: auto;
		padding: 10px !important;

		@screen md {
			margin: 0;
			padding: 40px !important;
		}
	}

	.get-started__grid-container {
		flex-direction: column-reverse;

		@screen md {
			flex-direction: row;
		}
	}

	.get-started__grid-container_alternate {
		flex-direction: row;

		@screen md {
			flex-direction: row;
		}
	}

	.get-started__bullets {
		line-height: 2;
		margin-bottom: 1rem;
		margin-top: 1rem;
		margin-left: 1.15rem;
		font-size: 14px;

		@screen md {
			line-height: 2;
			margin-bottom: 1.75rem;
			margin-top: 1.75rem;
			margin-left: 1.15rem;
			font-size: 18px;
		}
	}
}
