.letter-preview {
	@apply .max-w-3xl .mx-auto .mt-8 .text-left;

	.letter-preview__action-buttons {
		margin-top: 1rem;

		@screen md {
			margin-top: 1.5rem;
		}
	}

	a {
		color: #538cff;
	}

	a:hover {
		text-decoration: underline;
	}

	p {
		@apply .text-lg .pb-4;
	}

	.letter-preview__intro {
		@apply .relative .pt-6;

		.letter-preview_intro__chevron {
			@apply .absolute .top-0 .right-0;

			button {
				@apply .h-8 .w-8 .bg-ms-gray-lighter .rounded-full .flex .justify-center .items-center .text-ms-gray;
			}
		}
	}

	.letter-preview__signature {
		@apply;
	}
}
