.questions {
	@apply .flex .flex-col .items-end .w-full;

	@screen md {
		@apply .w-1/2 .items-start;
	}

	.questions__actions {
		@apply .flex .flex-row .justify-between .flex-grow;
	}

	.questions__actions-next {
		@apply .flex;
	}

	.questions__steps {
		@apply text-ms-blue mb-1 self-start;
	}

	.questions__title {
		@apply self-start;
	}
}

.questions__tags {
	.topics {
		@apply .flex .flex-wrap .max-w-md .-mx-2;
	}

	.topic {
		@apply .px-2;

		label {
			transition: all 0.3s;
			@apply .rounded-full .bg-white .border .border-ms-blue inline-flex items-center content-center;

			.questions__tags__topic-chevron {
				@apply .h-10 .w-10 bg-ms-blue .rounded-full .flex .items-center .justify-center .shadow-md .text-white;
			}
		}

		&:hover {
			label {
				@apply .text-white .bg-ms-blue inline-flex items-center content-center;
			}
		}

		[type='checkbox']:checked + label {
			@apply .text-white .bg-ms-blue;

			.questions__tags__topic-chevron {
				@apply bg-ms-blue-dark;
			}
		}
	}
}
