.step-2-intro {
	justify-content: center;
	flex-direction: column;

	.step-2-intro__bullets {
		margin: 2rem 0rem 8rem 2rem;
	}

	.step-2-intro__buttons {
		text-align: right;
		flex-direction: row;
		align-items: baseline;
	}

	.step-2-intro__button {
		margin-right: 1rem;
	}

	.step-2-intro__icon-and-header {
		align-items: center;
		flex-direction: row;
		display: flex;
	}

	.step-2-intro__number-icon {
		margin-right: 0.3rem;
	}
}
