.paragraph {
	transition: all 0.3s;
	@apply .cursor-pointer;

	.paragraph__wrapper {
		@apply .flex-col .ms-shadow .bg-white .w-full .flex .rounded .mb-8;

		&:hover,
		&:active,
		&:focus {
			@apply .bg-gray-light .shadow-2xl;
		}
	}

	.paragraph__box {
	}

	.paragraph__text {
		transition: all 0.3s;
		@apply .p-4 .text-sm;
	}

	.paragraph__delete {
		height: 2.65rem;
		@apply .flex .items-center .justify-center .w-12 .bg-ms-red .ml-4 .rounded-full .mr-2;

		img {
			@apply;
		}
	}

	.paragraph__draghandle {
		@apply .text-gray .text-xl .mr-4;
	}

	footer {
		@apply .border-t .border-ms-gray .border-opacity-25 .flex .justify-between;

		.paragraph__topics {
			@apply .pl-4 .flex .-mx-2;

			.paragraph__topics-topic {
				@apply .px-2 .flex .items-center;

				.paragraph__topics-topic__wrapper {
					@apply .rounded-full .bg-ms-gray-light .px-4;
				}
			}
		}

		.paragraph__chevron {
			@apply .flex .items-center .text-sm;

			i {
				@apply .text-ms-gray .p-4 .bg-ms-gray-lighter .ml-8 .text-lg;
			}
		}
	}
}

.paragraph--selected {
	.paragraph__box {
		@apply .bg-ms-blue .text-white .shadow-inner;

		&:hover,
		&:active,
		&:focus {
			@apply .bg-ms-blue .shadow-2xl;
		}
	}

	.paragraph__chevron {
		@apply .border-white;

		i {
			@apply .text-white;
		}
	}
}
