.vl-card {
	@apply .bg-ms-gray-lighter .border .border-ms-gray .border-opacity-25 .px-4 .py-1 .rounded;

	.vl-card__header {
		@apply .flex .font-bold .justify-between .pt-4 .pb-3 .mb-4 .border-b .border-ms-gray .border-opacity-25;

		.vl-card__header__title {
			@apply .text-lg;
		}

		.vl-card__header__counter {
			@apply .flex .rounded-full .px-3 .py-1 .bg-white;

			img {
				@apply .pr-2;
			}
		}
	}
}

.vl-card--light {
	@apply .shadow-2xl .bg-white .border-ms-blue  .border-opacity-25;

	.vl-card__header {
		.vl-card__header__counter {
			@apply .bg-ms-gray-lighter;
		}
	}
}
