.header {
	@apply .relative .py-8 .pl-8 .pr-4 .flex;

	@screen md {
		@apply .justify-between;
	}

	.header__logo-1 {
		width: 64px;
		height: 36px;
		@screen md {
			width: 126px;
			height: 71.3px;
		}
	}

	.header__logo-2 {
		width: 139px;
		height: 16px;
		@screen md {
			width: 248px;
			height: 29px;
		}
	}

	.header__breadcrumb {
		@apply .hidden .justify-center flex-shrink h-8;

		@screen md {
			@apply .flex;
		}

		.header__breadcrumb__text {
			@apply .font-sans .mx-6;
		}

		.header__breadcrumb__text-selected {
			padding-bottom: 1px;
			border-color: #538cff;
			border-bottom-width: 3px;
			border-bottom-style: solid;
		}
	}

	.header__burger-btn {
		@apply .absolute .top-0 .right-0 .text-xl .flex .items-center .px-6 .bg-ms-gray-lighter .text-ms-gray .rounded-bl-2xl .h-20;

		@screen md {
			@apply .hidden;
		}
	}
}
