.header {
	@apply .relative .py-4 .pl-8 .pr-4 .flex .justify-between .items-center;

	.header__logo-1 {
		width: 100px;
		height: auto;
		@screen md {
			width: 126px;
			height: 71.3px;
		}
	}

	.header__breadcrumb {
		@apply .hidden .items-center .justify-center flex-shrink h-8;

		@screen md {
			@apply .flex;
		}

		.header__breadcrumb__text {
			@apply .font-sans .mx-6;
		}

		.header__breadcrumb__text-selected {
			padding-bottom: 1px;
			border-color: #538cff;
			border-bottom-width: 3px;
			border-bottom-style: solid;
		}
	}

	.header_mobile-buttons {
		@screen md {
			@apply .hidden;
		}
	}
}
