.footer {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 25%,
		rgba(255, 255, 255, 0) 100%
	);

	@apply .w-full .fixed .bottom-0 .pl-8 .pr-4 .h-20;

	.footer__actions {
		@apply .flex .flex-wrap w-full .py-4 .items-center .h-16 .content-center justify-between;

		.footer__actions-forward {
			@apply .text-black;
		}

		.footer__actions-info {
			@apply .h-8 .w-8 .bg-ms-blue .rounded-full .flex .items-center .justify-center .shadow-md;

			img {
				@apply .w-4 .h-4;
			}
		}

		.footer__actions-drag {
			@apply .text-white .bg-black .rounded-2xl .flex .px-3 .py-1 .items-center;

			img {
				@apply .mr-3;
			}
		}

		.footer__actions-info,
		.footer__actions-forward {
			transition: opacity 0.3s;
			&:hover,
			&:active,
			&:focus {
				@apply .opacity-75;
			}
		}

		.footer__actions-next {
			@apply .flex;

			@screen md {
				@apply .hidden;
			}
		}

		.footer__actions--disabled {
			@apply .cursor-not-allowed .opacity-50 .text-black;

			&:hover,
			&:active,
			&:focus {
				@apply .opacity-25;
			}
		}

		.footer__actions__switch__buttons {
			@apply inline-flex .items-center .content-center;

			.footer__actions__switch__button__notselected {
				@apply button bg-ms-gray-light rounded-full .text-black h-12 w-48 inline-flex  .items-center .justify-center;

				img {
					@apply .w-4 .h-4 mr-2;
				}
			}

			.footer__actions__switch__button__selected {
				@apply button bg-ms-blue rounded-full h-12 w-48 inline-flex  .items-center .justify-center;

				img {
					@apply .w-4 .h-4 fill-current text-white mr-2;
				}
			}
		}

		.footer__preview__button > * {
			@apply .mx-2;
		}
	}
}
